system.method.insert = pyro.extended, value|const, 1

# Maximum connections for active torrents
min_peers = 40
max_peers = 120

# Maximum connections for seeding torrents
min_peers_seed = 10
max_peers_seed = 50

# Maximum simultanious uploads per torrent
max_uploads = 8

# Download/Upload speed limits
download_rate = 4000
upload_rate = 150

# Default download directory
directory = /data/

# Session directory
session = /home/archlucas/.rtorrent_session

# Ports to use for listening
port_range = 6881-6889
port_random = no
check_hash = yes
use_udp_trackers = yes

# Always try using encryption
encryption = allow_incoming,require,require_RC4

# Use DHT when needed
dht_port = 6881
dht = auto

# Use peer exchange
peer_exchange = yes

# Don't hash check already completed torrents, once during downloads is fine,  
# or manually if really necessary.
check_hash = no

# Close torrents on low disk space
schedule = low_diskspace,5,30,close_low_diskspace=500M

# Ratio handling
ratio.enable=
ratio.min.set=150
ratio.max.set=200
ratio.upload.set=100M

system.method.set = group.seeding.ratio.command, d.close=

#Colors
#ui.color.alarm.set="bold white on red"
#ui.color.complete.set="green"
#ui.color.even.set=""
#ui.color.focus.set="bright blue"
#ui.color.footer.set="bright white"
#ui.color.incomplete.set="bright green"
#ui.color.info.set="white"
#ui.color.label.set="gray"
#ui.color.leeching.set="bright green"
#ui.color.odd.set=""
#ui.color.progress0.set="red"
#ui.color.progress20.set="bright red"
#ui.color.progress40.set="bright magenta"
#ui.color.progress60.set="yellow"
#ui.color.progress80.set="bright yellow"
#ui.color.progress100.set="green"
#ui.color.progress120.set="bright green"
#ui.color.queued.set="magenta"
#ui.color.seeding.set="green"
#ui.color.stopped.set="magenta"
#ui.color.title.set="bright white"

# Watch directory for new torrents
schedule = watch_directory,5,5,load=/home/archlucas/.torrents/*.torrent

# Try importing watch directories file
try_import = /home/archlucas/.torrents/directories.rc

