body
{
    background: #141414 !important;
    color: white !important;
    padding-top: 3em !important;
    font-family: verdana !important;
}

#gb, #yt-masthead-container, #guide,
#watch7-content, #watch7-sidebar,
#footer-hh-container, #yt-uix-clickcard-card1,
#footer-container {
    display: none !important;
}

#watch7-video, #movie_player, #watch7-player {
    width: 1920px !important;
    height: 1080px !important;
    margin: 0 0 !important;
    padding: 0 0 !important;
}

#watch7-video-container {
    margin: 0 0 !important;
    padding: 0 auto !important;
    height: 100% !important;
    width: 100% !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
}

#movie_player {
    position: absolute !important;
    display: block !important;
    -moz-binding: none !important
}
