body
{
    background: #141414 !important;
    color: white !important;
    padding-top: 3em !important;
    font-family: verdana !important;
}

#masthead-container, #alerts,
#footer-container, .yt-badge-std,
#search-section-header, #search-refinements,
.horizontal-rule, #watch-main, #watch-headline-user-info {
    display: none !important;
}

#eow-title, #search-header, .num-results {
    color: white !important;
}

.horizontal-rule {
    border-bottom: none !important;
}

.yt-uix-button, .yt-uix-button-content {
    background: #141414 !important;
    color: white !important;
    text-shadow: none !important;
    border-color: #343434 !important;
}

.result-item {
}

.result-item:nth-child(n) {
    background: #0f0f0f !important;
}

.result-item:nth-child(3n) {
    background: #121212 !important;
}

a
{
    color: #608baa !important;
    text-decoration: none !important;
}

#watch-player, #watch-player embed {
    width: 100% !important;
    height: 100% !important;
}

#watch-video {
    width: 1920px !important;
    height: 1080px !important;
}

#watch-video.large {
    margin: 0 0 !important;
    height: 100% !important;
    width: 100% !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
}

#watch-player embed {
    position: absolute !important;
    display: block !important;
    -moz-binding: none !important
}

#playlist-bar {
    display: none !important;
}
