// ==UserStyle==
// @name           Google Userstyle
// @include        http://*.google.*
// ==/UserStyle==
body
{
    background: #141414 !important;
}


#appbar, #mngb, #leftnav, #bb_pp_tos_ack,
#botstuff, #fll, .r.inl, .bl, #videobox,
.nyc_opening .vspii, .nyc_open .vspii, .vspib,
#hdtb
{
    display: none !important;
}

#center_col, li.g, #cnt, .ab_center_col, .mw, #rcnt {
    width: 100% !important;
    clear: none !important;
}

#center_col
{
    border-left: 0 !important;
    margin-left: 10px !important;
}

li.g {
    padding: 2em 1em !important;
    border-bottom: 1px solid #343434 !important;
    margin-bottom: 0 !important;
}

li.g:nth-child(odd) {
    background: #0f0f0f !important;
}

li.g:nth-child(even) {
    background: #121212 !important;
}

a.l {
    font-size: 1.1em !important;
    padding-bottom: 5px !important;
    display: block;
}

a
{
    color: #608baa !important;
    text-decoration: none !important;
}

em, b {
    color: inherit !important;
    font-weight: inherit !important;
}

.st, a, li.g  {
    font-family: Verdana !important;
}

.st, .s, h3, #topstuff {
    color: white !important;
}

.csb {
    background: none !important;
}

#gfn {
    padding-bottom: 32px;
}

span.spell {
    color: white !important;
}

.cur {
    color: #608baa !important;
    font-weight: bold !important;
    font-size: 1.1em !important;
}

cite
{
    color: #888 !important;
}
